/* styles.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: inherit;
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 1rem;
}
  
  
  .nav ul li {
    margin: 0;
    font-weight: 450;
    
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }

  .nav ul li:hover {
    /* background-color: azure;
    display: block; */
    text-decoration: 3.5px underline rgb(91, 91, 231);
    text-underline-offset: 5px;

    
  }


  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .nav ul {
        margin-top: 10px;
        gap: 0;
        flex-direction: column;
        display: none; /* Hide the menu items by default */
      }
    
      .nav ul.show {
        display: flex; /* Show the menu items when .show class is present */
      }
    
      .nav ul li {
        margin-bottom: 10px;
      }
    
      .menu-icon {
        display: block; /* Show the menu icon for smaller screens */
      }
    
      .dropdown-menu.show {
        display: flex; /* Show the dropdown menu when .show class is present */
      }
}
  /* other styles for dashboard navbar */
  /* .input-bar {
    top: 11px;
    left: 57px;
    opacity: 0.5;
    font-family: 'Poppins-Regular', Helvetica;
    font-weight: normal;
    color: #121212;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 12px;
    position: absolute;
    white-space: nowrap;
  } */
  