@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
/* @import url(../../public/angle-down.svg);
@import url(../../public/background.svg);
@import url(../../public/combined-shape.svg);
@import url(../../public/ellipse-1.svg);
@import url(../../public/ellipse-2.svg);
@import url(../../public/group-13.svg);
@import url(../../public/group-17.svg);
@import url(../../public/group-41.svg);
@import url(../../public/group-42.svg);
@import url(../../public/group-44.svg);
@import url(../../public/group-45.svg);
@import url(../../public/group-47.svg);
@import url(../../public/group-48.svg);
@import url(../../public/group-49.svg);
@import url(../../public/group-50.svg);
@import url(../../public/group-51.svg);
@import url(../../public/group-52.svg);
@import url(../../public/group-53.svg);
@import url(../../public/group-55.svg);
@import url(../../public/ic_bell.svg);
@import url(../../public/menu-1.svg);
@import url(../../public/logo.svg);
@import url(../../public/polygon-1.svg);
@import url(../../public/profilePicture.svg);
@import url(../../public/rectangle-168.png);
@import url(../../public/rectangle-169.jpeg);
@import url(../../public/rectangle-170.png);
@import url(../../public/rectangle-187.png);
@import url(../../public/rectangle-189.png);
@import url(../../public/time-schedule.svg);
 */







:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .all-unset {
    all: unset;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#landpage-section{
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(25, 25, 186, 0.809)
  ),url('../images/Timemanagement.jpg');
  height: 95vh;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  /* backgroundSize: "cover", // Adjust the background size as needed
  backgroundRepeat: "no-repeat",
  backgroundPosition: "center center", */
};
